
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/PrivateSite/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 style="text-align:center; color:red;">Nguyễn Hoàng Nhất</h1>
</div>

